[package]
name = "tuim"
version = "1.0.0"
edition = "2024"

[profile.dev]
opt-level = 1

[profile.release]
codegen-units = 1
lto = true
opt-level = "s"
strip = true

[dependencies]
ratatui = "0.30.0"
crossterm = "0.29.0"
heapless = "0.9.2"
anyhow = "1.0.101"
